@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header.maincontent{
	width: 100%;
	display: grid;
	grid-template-column: 1fr;
    grid-template-rows: 100vh;
}

.splash1{
	width: 100%;
	height: auto;
	grid-column: 1;
	grid-row: 1;
    max-height: 1000px;
    max-width:600px;
    align-self: center;
}

.splash{
	display:none;
}

section.textcontainer{
	grid-column: 1 ;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

h1.mainheader{
	margin-top: 10rem;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	color: #FFFFFF;
	border: #FFFFFF solid 0.3rem;
}

h2.slogan{
	margin-top: 5rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	color: #FFFFFF;
}

button.pbutton{
	margin-top: 5rem;
	align: center;
	padding: 1rem 3rem;
	font-size: 2rem;
}

a {
    text-decoration: none;
    color: #262625;
}

nav.social-links{
	display: flex;
	gap: 2rem;
	border: #FFFFFF solid 0.3rem;
	padding: 0.2rem 2rem;
}

.social-links i {
	text-align: center;
	font-size: 3rem;
	color: #FFFFFF;
}

section.project1{
    background-color: #73645C;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.list-of-projects p{
    padding: 1rem;
    text-align:center;
}

.list-of-projects h2{
    text-align: center;
    font-size: 2rem;
}

hr {
    width: 80%;
}

button{
    font-weight: 900;
    color: #262625;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list-of-projects img{
	width: 100%;
	height: auto;
}

section.project2{
    display: flex;
    flex-direction: column;
    background-color: #D18080;
    color: #FFFFFF;
}

section.project3{
    display: flex;
    flex-direction: column;
    background-color: #BEACA4;
    color: #FFFFFF
}

section.project4{
    display: flex;
    flex-direction: column;
    background-color: #262625;
    color: #FFFFFF
}

nav.projectnav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectnav button{
    padding-right: 2rem;
    padding-left: 2rem;
}

footer {
    background-color: #BEACA4;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    color: #FFFFFF; 
}

@media only screen and (min-width: 600px){
    
    .splash1{
        display: none;
    }

    .splash{
    	width: 100%;
    	height: auto;
    	grid-column: 1;
    	grid-row: 1;
        display: unset;
        align-self: stretch;
    }
    
    hr{
        align-self: end;
        border: 0.1rem solid #FFFFFF;
    }
    
    h2{
        margin: 1rem;
        align-self: center;
        justify-self: center;
    }
    
    button{
        margin: 1rem;
        padding: 0 1rem;
        max-height: 5rem;
        min-height: 5rem;
    }
    
    h1.mainheader{
        padding: 1rem;
    }
    
    section.project1{
        display: grid;
        grid-template-column: repeat(4 , 1fr);
        grid-template-rows: repeat ( 5 , 13vh);
    }

    img.project-1{
        grid-column: 3 / 5;
        grid-row: 1 / 4;
        padding: 1rem;
        align-self: center;
        min-width: 200px;
        min-width: auto;
        align-self: stretch;
    }
    
    button.p1button{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 1rem;
        padding: 0 1rem;
        max-height: 3rem;
        min-height: 3rem;
    }
    
    p.p1-description{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        text-align: left;
        margin: 0;
    }
    
    .project1 hr{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: end;
    }
    
    h2.project1-header{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 4rem;
    }
    
    section.project2{
        display: grid;
        grid-template-column: repeat(4 , 1fr);
        grid-template-rows: repeat ( 5 , 13vh);
    }

    img.project-2{
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        padding: 1rem;
        align-self: center;
        align-self: stretch;
    }
    
    button.p2button{
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        max-height: 3rem;
        min-height: 3rem;
    }
    
    p.p2-description{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        text-align: right;
        margin: 0;
    }
    
    .project2 hr{
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    
    h2.project2-header{
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        font-size: 4rem;
    }
    
    section.project3{
        display: grid;
        grid-template-column: repeat(4 , 1fr);
        grid-template-rows: repeat ( 5 , 13vh);
    }

    img.project-3{
        grid-column: 3 / 5;
        grid-row: 1 / 4;
        padding: 1rem;
        align-self: center;
        align-self: stretch;
    }
    
    button.p3button{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-height: 3rem;
        min-height: 3rem;
    }
    
    p.p3-description{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        text-align: left;
        margin: 0;
    }
    
    .project3 hr{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    h2.project3-header{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 4rem;
    }
    section.project4{
        display: grid;
        grid-template-column: repeat(4 , 1fr);
        grid-template-rows: repeat ( 5 , 13vh);
    }

    img.project-4{
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        padding: 1rem;
        align-self: center;
        align-self: stretch;
    }
    
    button.p4button{
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        max-height: 3rem;
        min-height: 3rem;
    }
    
    p.p4-description{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        text-align: right;
        margin: 0;
    }
    
    .project4 hr{
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    
    h2.project4-header{
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        font-size: 4rem;
    }
    
    
}

/*i:hover {
	color: yellow;
}*/