@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header.maincontent{
	width: 100%;
	display: grid;
	grid-template-column: 1fr;
}

.splash1{
	width: 100%;
	height: auto;
	grid-column: 1;
	grid-row: 1;
}

.splash{
	display:none;
}

section.textcontainer{
	grid-column: 1 ;
	grid-row: 1;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

h1.mainheader{
	margin-top: 10rem;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	color: #FFFFFF;
	border: #FFFFFF solid 0.3rem;
}

h2.slogan{
	margin-top: 5rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	color: #FFFFFF;
}

button.pbutton{
	margin-top: 5rem;
	align: center;
	padding: 1rem 3rem;
	font-size: 2rem;
}

a {
    text-decoration: none;
    color: #262625;
}

nav.social-links{
	display: flex;
	gap: 2rem;
	border: #FFFFFF solid 0.3rem;
	padding: 0.2rem 2rem;
}

.social-links i {
	text-align: center;
	font-size: 3rem;
	color: #FFFFFF;
}

section.project1{
    background-color: #73645C;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.list-of-projects p{
    padding: 1rem;
    text-align:center;
}

.list-of-projects h2{
    text-align: center;
    font-size: 2rem;
}

hr {
    width: 80%;
}

button{
    font-weight: 900;
    color: #262625;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list-of-projects img{
	width: 100%;
	height: auto;
}

section.project2{
    display: flex;
    flex-direction: column;
    background-color: #D18080;
    color: #FFFFFF;
}

section.project3{
    display: flex;
    flex-direction: column;
    background-color: #BEACA4;
    color: #FFFFFF
}

section.project4{
    display: flex;
    flex-direction: column;
    background-color: #262625;
    color: #FFFFFF
}

nav.projectnav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectnav button{
    padding-right: 2rem;
    padding-left: 2rem;
}

footer {
    background-color: #BEACA4;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    padding: 1rem 1rem 0 1rem; 
}


/*i:hover {
	color: yellow;
}*/